node_modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results
coverage
.nyc_output
dist
build
lib

npm-debug.log
.idea/

packages/jsondiffpatch/README.md
packages/jsondiffpatch/MIT-LICENSE.txt

*.local.*