{
  "extends": "@istanbuljs/nyc-config-babel",
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "lines": 40,
  "statements": 40,
  "functions": 40,
  "branches": 40,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "test/**/*.js",
    "node_modules/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".js"
  ],
  "cache": true,
  "all": true
}
