body {
    font-family: Georgia, serif;
}

h1 {
    margin: 30px;
}

a#fork_me {
    position: absolute;
    top: 0;
    right: 0;
}

.jsontext {
    text-align: center;
}

.jsontext > div {
    float: left;
    width: 50%;
}

.jsontext textarea {
    width: 95%;
    height: 200px;
}

.buttons {
    text-align: center;
}

.buttons input {
    margin: 15px 1px 0 1px;
    padding: 5px 10px;
}

.json-error {
    background: #ffdfdf;
    -webkit-transition: all 1s;
}

.jsonerrormessage {
    font-weight: bold;
    color: red;
    font-size: smaller;
}

h2 {
    display: inline-block;
    margin: 5px 0;
}

.header-options {
    font-weight: normal;
    margin-left: 30px;
    display: inline-block;
}

table {
    padding: 20px;
}

td, th {
    vertical-align: top;
    text-align: left;
}

#jsondiff {
    overflow: scroll;
    max-width: 800px;
}

.jsondiff {
    width: 800px;
}

footer {
    font-size: small;
    text-align: center;
    margin: 40px;    
}

.credits {
    font-size: smaller;
}

.credits a {
    text-decoration: none;
    color: black;
}

.credits a:hover {
    text-decoration: underline;
}

.results {
    margin-top: 20px;
}

.results table {
    width: 100%;
}

.results  {
    width: 100%;
}
.results > div {
    vertical-align: top;
    display: inline-block;
}

