.jsondiffpatch-visualdiff-root {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
    font-size: 0.8em;
    margin: 20px;
}

.jsondiffpatch-unchanged {
    color: gray;
}

.jsondiffpatch-added span, .jsondiffpatch-added p {
    background: #bbffbb;
}

.jsondiffpatch-deleted span, .jsondiffpatch-deleted p {
    background: #ffbbbb;
    text-decoration: line-through;
}

.jsondiffpatch-moved-to span, .jsondiffpatch-moved-to p, span.jsondiffpatch-moved-to {
    background: #ffffbb;
}

.jsondiffpatch-moved-from span, .jsondiffpatch-moved-from p {
    background: #ffccbb;
}

.jsondiffpatch-deleted span:hover {
    text-decoration: none;
}

.jsondiffpatch-deleted p:hover {
    text-decoration: none;
}

.jsondiffpatch-textdiff .jsondiffpatch-added {
    background: #bbffbb;
}

.jsondiffpatch-textdiff .jsondiffpatch-deleted {
    background: #ffbbbb;
    text-decoration: line-through;
}

.jsondiffpatch-textdiff .jsondiffpatch-deleted:hover {
    text-decoration: none;
}

.jsondiffpatch-textdiff .jsondiffpatch-header {
    color: gray;
    display: block;
}

.jsondiffpatch-modified-original {
    background: #ffbbbb;
}

.jsondiffpatch-modified-original > div > p {
    text-decoration: line-through;
}

.jsondiffpatch-modified-original > div > p:hover {
    text-decoration: none;
}

.jsondiffpatch-modified-new {
    margin-left: 5px;
    background: #bbffbb;
}

.jsondiffpatch-visualdiff-root p {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    min-height: 17px;
}

.jsondiffpatch-property-name {
    margin: 0;
    padding: 0 10px 0 0;
    display: inline-block;
    min-height: 17px;
    font-style: italic;
}

.jsondiffpatch-visualdiff-root ul {
    padding-left: 20px;
    border-left: 1px dotted gray;
}

.jsondiffpatch-modified-original, .jsondiffpatch-modified-new {
    float: left;
}
