name: Node.js CI

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 8.17.0
        uses: actions/setup-node@v3
        with:
          node-version: 8.17.0
          cache: 'npm'
      - run: npm ci
      - run: npm run build
